<ion-header>

  <ion-navbar color="primary">
    <ion-title> {{ lista.nombre }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>
        <ion-card-header>
          <ion-item>
            <ion-label floating>Nombre de la lista</ion-label>
            <ion-input type="text" [(ngModel)]="lista.nombre" name="nombreLista"></ion-input>
          </ion-item>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item *ngFor="let item of lista.items" (click)="actualizar(item)">
              <ion-icon item-left *ngIf="!item.completado" ios="ios-square-outline" md="md-square-outline"></ion-icon>
              <ion-icon item-left *ngIf="item.completado" ios="ios-checkbox-outline" md="md-checkbox-outline"></ion-icon>
              <h2 [class.tachado]="item.completado">{{ item.nombre }}</h2>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <br>
      <br>
      <button (click)="borrarItem()" class="button-block" ion-button color="danger"> Borrar lista</button>
</ion-content>
