<h1 class="fadeIn fast">Lista de heroes</h1>
<hr>

<div class="card-columns">
  <div class="card animated fadeIn fast" *ngFor="let heroe of heroes; let i = index;">
      <img class="card-img-top img-fluid" [src]="heroe.img" [alt]="heroe.nombre">
      <div class="card-block">
        <h4 class="card-title">{{ heroe.nombre }}</h4>
        <p class="card-text">{{ heroe.bio | slice:0:100}}...</p>
         <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>

          <button (click)="verHeroe(i)"
           type="button" class="btn btn-outline-primary btn-block">
           Ver más...
         </button>
         <!-- `<a [routerLink]="['/heroes',i]" class="btn btn-outline-primary">Ver más</a>` -->
      </div>
  </div>


</div>
