<app-navbar></app-navbar>

<div class="container main-container">
  <div class="row">
    <div class="col-md-4">
      <div *ngIf="!marcadorSelect" class="animated fasdeIn fast">
        <div class="alert alert-info" role="alert">
          <strong>Haga click</strong>
           en el mapa para crear un marcador o seleccione uno.
        </div>
      </div>

      <div class="" *ngIf="marcadorSelect">
        <h5>Marcador</h5>
        <hr>
        <div class="form-group">
          <label>Titulo</label>
          <input
            [(ngModel)]="marcadorSelect.titulo"
            type="text"
            name="titulo"
            class="form-control"
          >
        </div>

        <div class="form-group">
          <label>Descripción</label>
          <textarea
            [(ngModel)]="marcadorSelect.desc"
            type="text"
            name="desc"
            placeholder="Descripción"
            class="form-control"
            >
          </textarea>
        </div>

        <div class="form-group">
          <label>Se puede mover</label>
          <select
            [(ngModel)]="draggable"
            name="draggable"
            class="form-control"
            (change)="cambiarDraggable()"
            >
            <option value="1">Si</option>
            <option value="0">No</option>

          </select>
        </div>


        <button
        (click)="_ms.guardarMarcadores()"
        class="btn btn-outline-primary btn-block"
        type="button" name="button">
        Guardad cambios
      </button>

      </div>
    </div>
    <div class="col-md-8">
      <sebm-google-map
          [latitude]="lat"
          [longitude]="lng"
          [zoom] = "zoom"
          (mapClick)="clickMapa($event)"
          >
         <sebm-google-map-marker *ngFor="let marcador of _ms.marcadores; let i = index"
            [latitude]="marcador.lat"
            [longitude]="marcador.lng"
            [title]="marcador.titulo"
            [markerDraggable]="marcador.draggable"
            (markerClick)="clickMarcador( marcador, i)"
            (dragEnd)="dragEndMarcador( marcador, $event )"
            >
            <sebm-google-map-info-window [disableAutoPan]="true">
              <strong>{{marcador.titulo}}</strong>
              <p *ngIf="marcador.desc">
                  {{ marcador.desc }}
              </p>
              <p>
                <a
                class="text-danger puntero"
                (click)="borrarMarcador(i)"
                >Borrar Marcador</a>
              </p>
             </sebm-google-map-info-window>
         </sebm-google-map-marker>

      </sebm-google-map>
    </div>
  </div>
</div>
