<div class="container main-container">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Buscar</label>
        <input
        [(ngModel)]="buscar"
        (keyup.enter)="buscarPelicula()"
        type="text"
        name="buscar"
        class="form-control"
        placeholder="Buscar una pelicula">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card-columns">
        <div class="card" *ngFor="let pelicula of _ps.peliculas">
          <img class="card-img-top img-fluid" [src]="pelicula | peliculaImagen" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">{{ pelicula.title }}</h4>
            <p class="card-text text-justify">{{ pelicula.overview | slice:0:230 }}...</p>
            <button
            [routerLink]="['/pelicula', pelicula.id, 'search']"
            class="btn btn-outline-primary btn-block"
            type="button" name="button">
            Ver más
            </button>
          </div>
        </div>
    </div>
  </div>
</div>
