<div [ngClass]="alertas" class="alert" role="alert">
  <strong>Well done!</strong> You successfully read this important alert message.
</div>

<button type="button" class="btn btn-info" (click)="alertas = 'alert-info'" name="button">Info</button>
<button type="button" class="btn btn-success" (click)="alertas = 'alert-success'" name="button">Success</button>

<h3 [ngClass]="{'text-danger':propiedades.danger, 'text-info':!propiedades.danger}">
Hola mundo
</h3>

<button type="button"
(click)="propiedades.danger = !propiedades.danger"
class="btn btn-danger" name="button"
[ngClass]="{'btn-danger':propiedades.danger, 'btn-info':!propiedades.danger}"
>
Cambiar
</button>
<hr>
<h3>Proceso asíncrono</h3>

<button
(click)="ejecutar()"
class="btn btn-primary"
type="button" name="button"
[disabled]="loading"
>
<i [ngClass]="{'fa-save':!loading, 'fa-refresh fa-spin':loading}" class="fa"></i>

<span *ngIf="!loading">Guardar contenido</span>
<span *ngIf="loading">Guardando</span>
</button>
