<h4>Formularios <small>template {{nombre}}</small></h4>
<hr>
<form (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate="">

  <div>

    <div class="form-group row"[ngClass]="{'has-danger': (nombre.errors?.required || nombre.errors?.minlength) && nombre.touched}">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               name="nombre"
               [(ngModel)]="usuario.nombre"
               required
               minlength="3"
               #nombre="ngModel"
               >
               <div class="" *ngIf="nombre.errors?.required"
                  class="form-control-feedback"
               >
                 Este campo es requerido.
               </div>
               <div class="" *ngIf="nombre.errors?.minlength">
                 Este requiere al menos {{ nombre.errors.minlength.requiredLength }} caracteres.
               </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
                [(ngModel)]="usuario.apellido"
               name="apellido"
               required
               #apellido="ngModel"
               minlength="5"
               >
               <div class="" *ngIf="apellido.errors?.required">
                 Este campo es requerido.
               </div>
               <div class="" *ngIf="apellido.errors?.minlength">
                 Este requiere al menos {{ apellido.errors.minlength.requiredLength }} caracteres.
               </div>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
              [(ngModel)]="usuario.correo"
             name="correo"
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             required
             #correo="ngModel"
             >
             <div class="" *ngIf="correo.errors?.required">
               Este campo es requerido.
             </div>
             <div class="" *ngIf="!correo?.valid">
               Ingresa un correo valido.
             </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Pais</label>
    <div class="col-md-8">
      <select
      [(ngModel)]="usuario.pais"
      class="form-control" name="pais">
        <option value="">seleccione un país</option>
        <option
          *ngFor="let pais of paises"
         [value]="pais.codigo">{{pais.nombre}}</option>
      </select>
    </div>
  </div>


    <div class="form-group row">
      <label class="col-2 col-form-label">Sexo</label>
      <div class="col-md-8">


        <label
          *ngFor="let s of sexos"
          class="custom-control custom-radio">
          <input [(ngModel)]="usuario.sexo" name="sexo"  [value]="s" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{s}}</span>
        </label>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Acepta</label>
      <div class="col-md-8">
        <label class="custom-control custom-checkbox">
          <input
          [(ngModel)]="usuario.acepta"
          name="acepta"
          type="checkbox" class="custom-control-input"
          required=""
          
          >
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Acepta las condiciones</span>
        </label>
      </div>
    </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button
      [disabled]="!forma.valid"
      type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>


<pre>
  {{usuario | json }}
</pre>

</form>
