<h1>Heroes</h1>

<hr>
<div class="row">
  <div class="col-md-12 text-right">
      <button
      [routerLink]="['/heroe','nuevo']"
      class="btn btn-outline-primary"
      type="button" name="button">
        Nuevo heroe
      </button>
  </div>
</div>
<br><br>
<div class="row animated">
    <div class="col-md-12">
        <div class="table-responsive">
          <table class="table">
              <thead class="thead-inverse">
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Casa</th>
                  <th class="text-right">Opciones</th>
                </tr>
              </thead>
              <tbody *ngIf="(heroes | keys).length > 0  && !loading">
                <tr *ngFor="let k of heroes | keys; let i = index">
                  <th>{{ i }}</th>
                  <td>{{ heroes[k].nombre }}</td>
                  <td>{{ heroes[k].casa }}</td>
                  <td class="text-right w230">
                    <button
                    [routerLink]="['/heroe', k]"
                    class="btn btn-outline-success btn-sm"
                    type="button" name="button"> Editar</button>
                    <button
                    (click)="borrarHeroe(k)"
                    class="btn btn-outline-danger btn-sm"
                    type="button" name="button"> Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>

            <div *ngIf="(heroes | keys).length === 0 && !loading">
              <div class="alert alert-info" role="alert">
                <strong>No hay</strong> registros que mostrar.
              </div>
            </div>

            <div *ngIf="loading" class="alert alert-warning" role="alert">
              <strong>Cargando...</strong> por favor espere.
            </div>

        </div>
    </div>
</div>
