<h3>Héroe <small> {{ heroe.nombre }}</small></h3>

<button
 [routerLink]="['/heroes']"
 type="button" class="btn btn-outline-danger">
  Regresar
</button>
<button
 (click)="agregarNuevo(forma)"
 type="button" class="btn btn-outline-success">
  Nuevo Heroe
</button>
<hr>

<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <form (ngSubmit)="guardar()" #forma="ngForm">
        <div class="form-group">
          <label for="">Nombre</label>
          <input
          [(ngModel)]="heroe.nombre"
          class="form-control"
          type="text"
          name="nombre"
          placeholder="Nombre"
          required=""
          >
        </div>
        <div class="form-group">
          <label for="">Casa</label>
          <select
          [(ngModel)]="heroe.casa"
          name="casa"
          class="form-control"
          >
            <option value="DC">DC</option>
            <option value="Marvel">Marvel</option>
          </select>
        </div>

        <div class="form-group">
          <label for="">Bio</label>
            <textarea
            [(ngModel)]="heroe.bio"
             name="bio"
            class="form-control"
            type="text"
            placeholder="Bio"

            >
          </textarea>
        </div>

        <div class="form-group">
          <button
          [disabled]="!forma.valid"
          type="submit" class="btn btn-outline-primary">
            Guardar cambios
          </button>
        </div>

    </form>

  </div>
</div>
