// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.text-center{
  text-align: center;
}
.tachado{
  text-decoration: line-through;
}
.caja-vacia{
  color:#C7C7C7;
  padding-top: 40%;
}
.caja-vacia p{
  font-size: 30px;
}
.icono-grande{
  font-size:100px;
}
