<div class="row">
  <div class="col-md-12">
    <div class="card-columns" *ngIf="imagenes|async">
        <div class="card" *ngFor="let imagen of imagenes | async">
          <img class="card-img-top img-fluid" [src]="imagen.url" [alt]="imagen.nombre">
          <div class="card-block">
            <h4 class="card-title">{{imagen.nombre}}</h4>
          </div>
        </div>
    </div>
  </div>
</div>
