<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ nombreLista | placeholder:'Nueva lista' }}</ion-title>
    <ion-buttons end>
      <button (click)="guardarLista()" ion-button icon-only color="royal">
        <ion-icon name="send"></ion-icon> Guardar
      </button>
    </ion-buttons>
  </ion-navbar>



</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-item>
        <!-- <ion-label stacked>Nombre de la lista</ion-label> -->
        <ion-input type="text" [(ngModel)]="nombreLista" name="nombreLista" placeholder="Nombre lista"></ion-input>
      </ion-item>

    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <!-- <ion-label floating>Item:</ion-label> -->
        <ion-input (keyup.enter)="agregar()"
        type="text" [(ngModel)]="nombreItem" placeholder="Item"></ion-input>
        <button (click)="agregar()" ion-button icon-only clear item-right>
          <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
        </button>
      </ion-item>
      <!-- <button (click)="agregar()"
       ion-button color="secondary" icon-left class="button-block">
        <ion-icon ios="ios-arrow-down" md="md-arrow-down"> </ion-icon>
        Agregar
      </button> -->
<!--
      <ion-item>

        <button (click)="agregar()" ion-button icon-only clear item-right>
          <ion-icon name="home"></ion-icon>
        </button>
      </ion-item> -->



    </ion-card-content>
  </ion-card>
<!-- items agregados -->
  <ion-card *ngIf="items.length > 0">
    <ion-card-header>
      <h3>Items agregados</h3>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of items; let i = index">
          <button ion-button color="dark" clear>
             {{ item.nombre }}
          </button>
          <button (click)="eliminar(i)"
          ion-button outline item-right icon-left color="danger">
             <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
              Eliminar
          </button>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- <button (click)="guardarLista()"
   ion-button icon-left class="button-block">
    <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
    Agregar lista
  </button> -->
</ion-content>
