<div class="container main-container">
  <h1>videos</h1>
  <hr>

  <div class="card-columns" *ngIf="videos.length > 0">
    <div class="card" *ngFor="let video of videos">
      <img class="card-img-top img-fluid" [src]="video.thumbnails.high.url" [alt]="video.title">
      <div class="card-block">
        <h5 class="card-title">{{video.title}}</h5>

        <button
        (click)="verVideo(video)"
        class="btn btn-outline-primary btn-block"
        type="button" name="button">
          Ver videos
        </button>
      </div>
    </div>

  </div>

  <button
  (click)="cargarMasVideos()"
   class="btn btn-outline-primary btn-block">
    Cargar más videos
  </button>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false"
  >
  <div class="modal-dialog" role="document">
    <div class="modal-content"  *ngIf="videoSelect">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{videoSelect.title}}</h5>
      </div>
      <div class="modal-body">
        <iframe width="100%" height="315" [src]="videoSelect.resourceId.videoId | domseguro:'https://www.youtube.com/embed/'" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button
        (click)="cerrarVideo()"
        type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar video</button>
      </div>
    </div>
  </div>
</div>
