<div class="container top-30">
  <div class="row">
    <div class="col-md-3">
      <label for="termino">Buscador de artistas</label>
      <input [(ngModel)]="termino"
      (keyup)="buscarArtista()"
      type="text" name="termino"
      class="form-control"
      placeholder="Buscar por artista...">
      <hr>
    </div>
  </div>
  <div class="col-md-9">
    <!-- <ul>
      <li *ngFor="let artista of _SpotifyService.artistas">
          {{ artista.name }}

          {{ }}
      </li>
    </ul> -->
    <div class="row">
      <div class="col-md-3 text-center puntero"
        [routerLink]="['/artista',artista.id]"
       *ngFor="let artista of _SpotifyService.artistas">
        <img  [src]="artista.images | sinfoto"class="img-fluid img-thumbnail">
        <p>
          {{ artista.name }}
          
        </p>
        <hr>

      </div>
    </div>
  </div>
</div>
