<div *ngIf="perfil">
  <div class="row">
    <div class="col-md-6">
      <h3>Profile</h3>
      <img [src]="perfil.picture" alt="" class="profile-img">
      <p><strong>Name: </strong> {{perfil.name}}</p>
      <p><strong>Email: </strong> {{perfil.email}}</p>
      <p><strong>Nickname: </strong> {{perfil.nickname}}</p>
      <p><strong>Created At: </strong> {{perfil.created_at}}</p>
      <p><strong>Updated At: </strong> {{perfil.updated_at}}</p>
    </div>
  </div>
</div>
