<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['home']">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">Home </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <!-- <a class="nav-link" [routerLink]="['search']" [queryParams]="{ page: 99 }">Buscar</a> -->
        <a class="nav-link" [routerLink]="['search']">Buscar</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0"
      (ngSubmit)="buscarPelicula(buscar.value)">
      <input
      #buscar
      class="form-control mr-sm-2" type="text" placeholder="Buscar">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
