<h4>Formularios <small>data</small></h4>
<hr>
<form [formGroup]="forma" (ngSubmit)="guardarCambios()" novalidate="novalidate">

  <div formGroupName="nombrecompleto">

    <div class="form-group row" [ngClass]="{'has-danger': !forma.get('nombrecompleto.nombre').valid}">
    <!-- <div class="form-group row" > -->
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               formControlName="nombre"
               >

               <div class="" *ngIf="forma.get('nombrecompleto.nombre').errors?.required"
                  class="form-control-feedback"
               >
                 Este campo es requerido.
               </div>
               <div class="" *ngIf="forma.get('nombrecompleto.nombre').errors?.minlength">
                 Este requiere al menos {{ forma.get('nombrecompleto.nombre').errors.minlength.requiredLength }} caracteres.
               </div>
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': !forma.get('nombrecompleto.apellido').valid}">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               formControlName="apellido"
               >

               <div class="" *ngIf="forma.get('nombrecompleto.apellido').errors?.required"
                  class="form-control-feedback"
               >
                 Este campo es requerido.
               </div>
               <div class="" *ngIf="forma.get('nombrecompleto.apellido').errors?.noherrera"
                  class="form-control-feedback"
               >
                 Este no debe ser {{forma.get('nombrecompleto.apellido').errors.texto }}.
               </div>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             formControlName="correo"
             >
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Username</label>
    <div class="col-md-8">

      <input class="form-control"
             type="text"
             placeholder="Usuario"
             formControlName="username"
             >
             <div class="" *ngIf="forma.get('username').errors?.existe"
                class="form-control-feedback"
             >
               el usuario existe
             </div>

    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Password</label>
    <div class="col-md-8">

      <input class="form-control"
             type="password"
             placeholder="Password"
             formControlName="password1"
             >
    </div>
  </div>
  <div class="form-group row" [ngClass]="{'has-danger': forma.get('password2').errors?.noigual}">
    <label class="col-2 col-form-label">repetir Password</label>
    <div class="col-md-8">

      <input class="form-control"
             type="password"
             placeholder="repetir Password"
             formControlName="password2"
             >

             <div class="" *ngIf="forma.get('password2').errors?.noigual"
                class="form-control-feedback"
             >
               los passwords no son iguales
             </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Pasatiempos</label>
    <div class="col-md-8" formArrayName="pasatiempos">

      <input *ngFor="let pasatiempo of forma.controls['pasatiempos'].controls | slice:0:2; let i = index;"
            class="form-control"
             type="text"
             placeholder="Pasatiempos"
             [formControlName]="i"
             >
    </div>

    <button
    (click)="agregarPasatiempo()"
     type="button" name="button"
    class="btn btn-primary"
     >Nuevo</button>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

  {{forma.valid}}

    {{forma.status}}

</form>
