<div class="row">
  <div class="col-md-4">
    <h3>Seleccione archivos</h3>
    <div
        NgDropFiles
        [ngClass]="{'file-over': estaSobreDropZone}"
        (archivoSobre)="archivoSobreDropZone($event)"
        [archivos]="archivos"
        class="well drop-zone">
        <h4>suelta los archivos aqui</h4>
        <img src="assets/img/drop-images.png" alt="">
    </div>
  </div>
  <div class="col-md-8">
    <h3>Carga archivos</h3>

    <button
      (click)="cargarImagenesFirebase()"
      type="button"
      class="btn btn-success"
      [disabled]="archivos.length == 0 || !permiteCargar">
      cargar a firebase
    </button>

    <button
      (click)="limpiarArchivos()"
      type="button"
      class="btn btn-danger" >
     Limpiar archivos
    </button>

    <table class="table" *ngIf="archivos.length > 0">
      <thead class="thead-inverse">
        <tr>
          <th>Nombre</th>
          <th>Tamaño</th>
          <th>Progreso</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let archivo of archivos">
          <td [ngClass]="{'text-green': archivo.estaSubiendo}">
            <strong>{{ archivo.nombreArchivo }}</strong>
          </td>
          <td>
            {{ archivo.archivo.size / 1024 /1024 | number:'.2' }} MB
          </td>
          <td >
            <div class="progress">
              <div

                class="progress-bar progress-bar-striped progress-bar-animated"
                role="progressbar" aria-valuenow="{archivo.progreso}"
                aria-valuemin="0" aria-valuemax="100"
                [ngStyle]="{'width': archivo.progreso +'%' }"></div>
            </div>
            <!-- {{ archivo.progreso }} -->
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
