<h1 class="animation fadeIn fast">{{ heroe.nombre | uppercase}} <small> ({{ heroe.aparicion | date:'y' }})</small></h1>

<hr>

<div class="row">
  <div class="col-md-4">
      <img class="img-fluid" [src]="heroe.img" [alt]="heroe.nombre">
      <br><br>
      <a [routerLink]="['/heroes']" class="btn btn-outline-danger">Regresar</a>
  </div>

  <div class="col-md-8">
      <h3>{{ heroe.nombre}}</h3>
      <hr>
      <p> {{ heroe.bio }}</p>


        <img class="img-logo" *ngIf="heroe.casa == 'Marvel'" src="assets/img/marvel.png" alt="">
        <img class="img-logo" *ngIf="heroe.casa == 'DC'" src="assets/img/dc.png" alt="">


  </div>

</div>
