<div class="container">
  <br>
  <h1>Pipes</h1>
  <hr>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Variable</th>
        <th>Pipe</th>
        <th>Producto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ nombre }}</td>
        <td>uppercase</td>
        <td>{{ nombre | uppercase }}</td>
      </tr>
      <tr>
        <td>{{ nombre }}</td>
        <td>lowercase</td>
        <td>{{ nombre | lowercase }}</td>
      </tr>

      <tr>
        <td>{{ nombre }}</td>
        <td>slice:3</td>
        <td>{{ nombre | slice:3 }}</td>
      </tr>

      <tr>
        <td>{{ nombre }}</td>
        <td>slice:0:3</td>
        <td>{{ nombre | slice:0:3 }}</td>
      </tr>

      <tr>
        <td>{{ arreglo }}</td>
        <td>slice:1:5</td>
        <td>{{ arreglo | slice:1:5 }}</td>
      </tr>

      <tr>
        <td>{{ PI }}</td>
        <td>number:"3.0-0"</td>
        <td>{{ PI | number:'1.0-4' }}</td>
      </tr>

      <tr>
        <td>{{ a }}</td>
        <td>percent:'2.2-2'</td>
        <td>{{ a | percent:'2.2-2' }}</td>
      </tr>

      <tr>
        <td>{{ salario }}</td>
        <td>currency</td>
        <td>{{ salario | currency }}</td>
      </tr>
      <tr>
        <td>{{ salario }}</td>
        <td>currency:'EUR':true:'4.0-0'</td>
        <td>{{ salario | currency:'EUR':true:'4.0-0' }}</td>
      </tr>

      <tr>
        <td>{{ valordePromesa }}</td>
        <td>async</td>
        <td>{{ valordePromesa | async }}</td>
      </tr>

      <tr>
        <td>{{ fecha }}</td>
        <td>date</td>
        <td>{{ fecha | date}}</td>
      </tr>
      <tr>
        <td>{{ fecha }}</td>
        <td>date:'MMMM - dd'</td>
        <td>{{ fecha | date:'MMMM - dd' | uppercase }}</td>
      </tr>

      <tr>
        <td>{{ nombre2 }}</td>
        <td>capitalizado</td>
        <td>{{ nombre2 | capitalizado }}</td>
      </tr>

      <tr>
        <td>{{ nombre2 }}</td>
        <td>capitalizado:false</td>
        <td>{{ nombre2 | capitalizado:false }}</td>
      </tr>

      <tr>
        <td>{{ clave }}</td>
        <td>constrasena:{{ activar }}
          <br>
          <button
          (click) = "activar = !activar"
           type="button" name="button" class="btn btn-outline-primary">Activar/desactivar</button>

        </td>
        <td>{{ clave | contrasena:activar }}</td>
      </tr>


    </tbody>
  </table>

  <h3>JSON</h3>
  <pre>
    {{ heroe | json}}
  </pre>

<h3>video</h3>

<iframe width="560" height="315" [src]="video | domseguro:'https://www.youtube.com/embed/'" frameborder="0" allowfullscreen></iframe>

<br><br><br><br><br><br>

</div>
