<ion-header>

  <ion-navbar color="primary">
    <ion-title>Pendientes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-row *ngIf="(_listaDeseos.listas | pendientes:false).length === 0">
      <ion-col class="text-center caja-vacia">
        <ion-icon class="icono-grande" ios="ios-eye-off" md="md-eye-off"></ion-icon>
        <p>
          No hay ninguna lista.
        </p>
      </ion-col>
    </ion-row>
    <ion-card *ngFor="let lista of _listaDeseos.listas | pendientes; let i = index">
      <ion-item-divider color="dark" (click)="verDetalle(lista, i)">
        {{ lista.nombre }}
        <ion-note item-right>
            {{ lista.items.length }} items
        </ion-note>
      </ion-item-divider>

      <ion-list>
        <ion-item  (click)="verDetalle(lista, i)"
           *ngFor="let item of lista.items | slice:0:2">
            <ion-icon *ngIf="!item.completado" ios="ios-square-outline" md="md-square-outline"></ion-icon>
            <ion-icon *ngIf="item.completado" ios="ios-checkbox-outline" md="md-checkbox-outline"></ion-icon>
            {{item.nombre}}
        </ion-item>

        <ion-item class="text-center" *ngIf="lista.items.length > 2" >
          <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
        </ion-item>

      </ion-list>
    </ion-card>

 <ion-fab right bottom>
   <button ion-fab color="secondary" (click)="irAgregar()">
     <ion-icon ios="ios-add" md="md-add"></ion-icon>
   </button>
 </ion-fab>

</ion-content>
