<div class="container main-container">

  <app-navbar></app-navbar>
  <h1>Demos <small>Angular</small></h1>
  <hr>

  <router-outlet></router-outlet>
  <!-- <app-ng-style></app-ng-style>

  <app-css></app-css>

  <p>
    Proin eget tortor risus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.
  </p>

  <app-clases></app-clases> -->
  <!-- <p [appResaltado]="{'color':'green', 'size':'30px'}">
    Hola mundo
  </p>

  <app-ng-switch></app-ng-switch> -->


</div>
