

<div class="container main-container animated fadeIn fast" *ngIf="artista">
  <div class="row">
      <div class="col-md-3 tex-center">
        <img  [src]="artista.images | sinfoto" class="img-thumbnail  img-circle">
        <br>
      </div>
      <div class="col-md-9">
        <h1>  {{ artista.name }} <small> Popularidad {{ artista.popularity }}</small> </h1>
        <hr>
        <a [href]="artista.external_urls?.spotify"
        class="btn btn-outline-success" >
        Ver página
       </a>
        <p>
          <a [routerLink]="['/search']"
          class="btn btn-outline-danger">
            Regresar
          </a>
        </p>
      </div>
  </div>

</div>

<div *ngIf="pistas">
    <!-- <div class="col-md-3">
      <img  [src]="pista.album.images | sinfoto"class="img-fluid img-circle">
    </div>
    <div class="col-md-9">
      {{ pista.name }}
    </div> -->
    <h3>Top artista {{ artista.name }}</h3>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-inverse table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Foto</th>
                <th>Canción</th>
                <th>Popularidad</th>
                <th>Preview</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let pista of pistas; let i = index">
                <td>{{ i }}</td>
                <td>  <img  [src]="pista.album.images | sinfoto"class="img-fluid img-thumbnail img-50"></td>
                <td> {{ pista.name }} </td>
                <td> {{ pista.popularity }} %</td>
                <td>
                  <!-- <audio controls>
                    <source [src]="pista.preview_url" >
                  </audio> -->
                  <iframe [src]="pista.uri | domseguro:'https://embed.spotify.com/?uri='" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>

</div>
